
<!--
<tr>
  <td><%= blog.title.upcase %></td>
  <td>Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</td>
  <td><%= blog.body %></td>
  <td><%= link_to blog.status, toggle_status_blog_path(blog) %></td>
  <td><%= link_to 'Show', blog %></td>
  <td><%= link_to 'Edit', edit_blog_path(blog) if logged_in?(:site_admin) %></td>
  <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></td>
</tr>
-->

<div class="col-md-6">
  <div class="card flex-md-row mb-4 shadow-sm h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary"><%= link_to blog.status, toggle_status_blog_path(blog) %></strong>
      <h3 class="mb-0">
        <a class="text-dark" href="#"><%= blog.title.upcase %></a>
      </h3>
      <div class="mb-1 text-muted">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</div>
      <p class="card-text mb-auto"><%= blog.body %></p>
      <%= link_to 'Continue reading', blog %>
    </div>
    <div class="card-img-right flex-auto d-none d-lg-block">
      <%= link_to 'Edit', edit_blog_path(blog) if logged_in?(:site_admin) %>
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
    </div>
  </div>
</div>