<div class="container">
  <div class="row">

    <div class="col-md-7">
      <%# au cas ou je n'ai pas de main image je mets le unless %>
      <%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>
    </div>

    <div class="col-md-5">
      <h3><%= @portfolio_item.title %></h3>

      <em><%= @portfolio_item.subtitle %></em>

      <p><%= @portfolio_item.body %></p>

      <p><%= @portfolio_item.created_at %></p>

      <%= link_to "View all portfolio items", portfolios_path %>

      <br/><br/><br/><br/>
      <% if logged_in?(:site_admin) %>
        <div class="">
          <%= link_to "Edit item", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' %>
        </div>
      <%end %>

    </div>

  </div>
</div>