<h1>Pages#contact</h1>

<%= video_tag(
        'supercopaTurckheimStart.mp4',
        id: 'background',
        autoplay: true,
        loop: false,
        muted: false,

        )  %>

<p>Find me in app/views/pages/contact.html.erb</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29571.38641350984!2d7.388745735580619!3d48.052756180760234!2m3!1f0!2f36.587599881717935!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x47914491b8b6454d%3A0x40a5fb99a394700!2s67600+S%C3%A9lestat%2C+France!5e1!3m2!1sen!2sch!4v1541170533012" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<p><%= number_to_phone "0637015900" %></p>

<p><%= number_to_currency "149.99" %></p>

<p><%= number_to_percentage "99.9" %></p>

<p><%= number_with_delimiter "1000000" %></p>