<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="keywords" content="<%= @seo_keywords %>" />

  <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class="container">

    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <%= render "shared/application_nav" %>
        <%= login_helper_blogs %>

      </nav>
    </div>

    <%= yield %>

    <%= source_helper("blog") %>

    <div class="row mb-2">

    </div>

    <%= render 'shared/application_footer' %>
  </div><!-- end container -->

</body>
</html>
